{%extends "base.html"%}
{%block content%}

<section class="section-aboutme section-album">
<div class="row">&nbsp;</div>
<div class="row">
    <h2>Crimea</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</section>


<section class="section-photos">
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f01.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f01.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 1</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f02.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f02.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 2</figcaption>
    </figure>
    </div>
</div>
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f03.jpg" data-size="1080x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f03.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 3</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f04.jpg" data-size="1081x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f04.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 4</figcaption>
    </figure>
    </div>
</div> 
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f05.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f05.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 5</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f06.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f06.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 6</figcaption>
    </figure>
    </div>
</div>     
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f07.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f07.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 7</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f08.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f08.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 8</figcaption>
    </figure>
    </div>
</div>
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f09.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f09.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 9</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f10.jpg" data-size="1286x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f10.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 10</figcaption>
    </figure>
    </div>
</div>  
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f11.jpg" data-size="1080x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f11.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 11</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f12.jpg" data-size="1287x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f12.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 12</figcaption>
    </figure>
    </div>
</div>
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f13.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f13.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 13</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f14.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f14.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 14</figcaption>
    </figure>
    </div>
</div>
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f15.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f15.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 15</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f16.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f16.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 16</figcaption>
    </figure>
    </div>
</div>
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f17.jpg" data-size="1440x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f17.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 17</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f18.jpg" data-size="810x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f18.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 18</figcaption>
    </figure>
    </div>
</div>
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f19.jpg" data-size="1080x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f19.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 19</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">
    <figure class="photo right">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f20.jpg" data-size="1080x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f20.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 20</figcaption>
    </figure>
    </div>
</div>
<div class="row">
    <div class="col span-1-of-2">
    <figure class="photo left">
        <a href="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2/f21.jpg" data-size="1441x1080">
            <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f21.jpg">
        </a>
        <figcaption itemprop="caption description">Photo 21</figcaption>
    </figure>
    </div>

    <div class="col span-1-of-2">

    </div>
</div>

</section>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe. 
    It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. 
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<script src="../static/vendors/dist/photoswipe.min.js"></script> 
<script src="../static/vendors/dist/photoswipe-ui-default.min.js"></script>
<script src="../static/resources/js/galleryscript.js"></script>
{%endblock%}