{%extends "base.html"%}
{%block content%}
        
<section class="main">
<div class="row">
    <div class="nav-panel js-album-panel">     
        <nav> 
            <a class="mobile-menu-btn js-menu-btn"><ion-icon name="menu" class="js-menu-icon"></ion-icon></a>
            <ul class="main-nav">
                <li>
                    <a class="menu-item" id="js-navBtn1">Albums</a>
                    <div class="dropdown js-navDrop1">
                        <a class="album-link" href="{{url_for('white_sea')}}">White Sea</a>
                        <a class="album-link" href="{{url_for('crimea')}}">Crimea</a>
                        <a class="album-link" href="{{url_for('test')}}">Test</a>   
                    </div>
                </li>
                <li><a class="menu-item" href="#aboutme">About me</a></li>
                <li><a class="menu-item" href="#contacts">Contacts</a></li>
            </ul>
        </nav>       
    </div>

    <div class="albums-panel ">
        <div class="album-row">
            <div class="col span-1-of-2">
                <a href="{{url_for('white_sea')}}">
                    <figure class="album">
                        <h3 class="mobile-header"> White Sea </h3>
                        <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album1_mini/f01.jpg" alt="White Sea">
                        <div class="album-info">
                            <h3 class="hidden-header">White Sea</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </figure>
                </a>
            </div>
            <div class="col span-1-of-2">
                <a href="{{url_for('crimea')}}">
                    <figure class="album">
                        <h3 class="mobile-header"> Crimea </h3>
                        <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album2_mini/f01.jpg" alt="Crimea" >
                        <div class="album-info">
                            <h3 class="hidden-header">Crimea</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </figure>
                </a>
            </div>
        </div> 
        
        <div class="album-row">
            <div class="col span-1-of-2">
                <a href="{{url_for('test')}}">
                    <figure class="album">
                        <h3 class="mobile-header"> Test </h3>
                        <img src="https://sophiesophie.s3.eu-central-1.amazonaws.com/album3_mini/f01.jpg" alt="Test">
                        <div class="album-info">
                            <h3 class="hidden-header">Test</h3>
                            <p>Alexander is the best teacher in the world.</p>
                        </div>
                    </figure>
                </a>
            </div>
            
        </div> 
    </div>
</div>
</section>
        
<section class="section-aboutme" id="aboutme">
<div class="row">
    <h2>About me</h2>
    <p>I want to explore when and where I live in this world using photography. <br> Small things can have enormous meaning.</p>
</div>
</section>
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>   
<script src="../static/vendors/js/jquery.waypoints.min.js"></script>
<script src="../static/resources/js/script.js"></script>
        
{%endblock%}